<div class="page-sidebar-wrapper">
  <div class="page-sidebar navbar-collapse collapse">
    <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
      <li class="sidebar-toggler-wrapper hide">
        <div class="sidebar-toggler">
          <span></span>
        </div>
      </li>
      <li class="nav-item start <%= sidebar_active('dashboards') %> open">
        <a href="/" class="nav-link nav-toggle">
          <i class="fa fa-tachometer"></i>
          <span class="title">Dashboard</span>
          <span class="selected"></span>
          <!--<span class="arrow open"></span>-->
        </a>
        <!--<ul class="sub-menu">-->
          <!--<li class="nav-item start open">-->
            <!--<a href="index.html" class="nav-link ">-->
              <!--<i class="icon-bar-chart"></i>-->
              <!--<span class="title">Signage Info</span>-->
              <!--<span class="selected"></span>-->
            <!--</a>-->
          <!--</li>-->
          <!--<li class="nav-item start open">-->
            <!--<a href="index.html" class="nav-link ">-->
              <!--<i class="icon-bar-chart"></i>-->
              <!--<span class="title">Advertisement Info</span>-->
              <!--<span class="selected"></span>-->
            <!--</a>-->
          <!--</li>-->
        <!--</ul>-->
      </li>
      <li class="heading">
        <h3 class="uppercase">Features</h3>
      </li>
      <li class="nav-item <%= sidebar_active('ads') %>">
        <a href="<%= client_ads_path %>" class="nav-link">
          <i class="fa fa-adn"></i>
          <span class="title">Ads</span>
        </a>
        <ul class="sub-menu" style="display: block;">
          <li class="nav-item <%= sidebar_active('campaigns') %>">
            <a href="<%= client_campaigns_path %>" class="nav-link">
              <i class="fa fa-adn"></i>
              <span class="title">Campaigns</span>
            </a>
          </li>
          <li class="nav-item <%= sidebar_active('ad_groups') %>">
            <a href="<%= client_ad_groups_path %>" class="nav-link">
              <i class="fa fa-adn"></i>
              <span class="title">Ad Groups</span>
            </a>
          </li>
          <li class="nav-item <%= sidebar_active('materials') %>">
            <a href="<%= client_materials_path %>" class="nav-link">
              <i class="fa fa-file-image-o" aria-hidden="true"></i>
              <span class="title">Materials</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item <%= sidebar_active('signage_ad_units') %>">
        <a href="<%= client_signage_ad_units_path %>" class="nav-link">
          <i class="fa fa-clone" aria-hidden="true"></i>
          <span class="title">Ad Units</span>
        </a>
      </li>
      <li class="nav-item <%= sidebar_active('containers') %>">
        <a href="<%= client_containers_path %>" class="nav-link">
          <i class="fa fa-object-group" aria-hidden="true"></i>
          <span class="title">Containers</span>
        </a>
      </li>
      <li class="heading">
        <h3 class="uppercase">Settings</h3>
      </li>
      <li class="nav-item <%= sidebar_active('shops') %>">
        <a href="<%= client_shops_path %>" class="nav-link">
          <i class="fa fa-home"></i>
          <span class="title">Shops</span>
        </a>
      </li>
      <li class="nav-item <%= sidebar_active('signages') %>">
        <a href="<%= client_signages_path %>" class="nav-link">
          <i class="fa fa-laptop"></i>
          <span class="title">Signages</span>
        </a>
      </li>
      <li class="nav-item <%= sidebar_active('managers') %>">
        <a href="<%= client_managers_path %>" class="nav-link">
          <i class="fa fa-user" aria-hidden="true"></i>
          <span class="title">Managers</span>
        </a>
      </li>
      <li class="heading">
        <h3 class="uppercase">Reports</h3>
      </li>
      <li class="nav-item <%= sidebar_active('reports/ads') %>">
        <a href="<%= client_reports_ads_path %>" class="nav-link">
          <i class="fa fa-line-chart" aria-hidden="true"></i>
          <span class="title">Ads</span>
        </a>
      </li>
      <li class="nav-item <%= sidebar_active('reports/signages') %>">
        <a href="<%= client_reports_signages_path %>" class="nav-link">
          <i class="fa fa-line-chart" aria-hidden="true"></i>
          <span class="title">Signages</span>
        </a>
      </li>
      <li class="nav-item <%= sidebar_active('reports/shops') %>">
        <a href="<%= client_reports_shops_path %>" class="nav-link">
          <i class="fa fa-line-chart" aria-hidden="true"></i>
          <span class="title">Shops</span>
        </a>
      </li>
      <li class="nav-item <%= sidebar_active('reports/managers') %>">
        <a href="<%= client_reports_managers_path %>" class="nav-link">
          <i class="fa fa-line-chart" aria-hidden="true"></i>
          <span class="title">Managers</span>
        </a>
      </li>
    </ul>
  </div>
</div>
