<div class="row">
  <div class="col-xs-12">
    <div class="portlet light bordered">
      <%= render 'admin/shared/form_title' %>
      <div class="portlet-body form">

        <%= form_for [:admin , @signage_ad_unit] do |f| %>
            <div class="form-body">
              <div class="form-group form-md-line-input">
                <%= f.collection_select :client_id, Client.all.order('id asc'), :id , :title, {}, class: 'form-control' %>
                <%= f.label :client_id %>
              </div>

              <div class="form-group form-md-line-input">
                <%= f.text_field :title, class: 'form-control' %>
                <%= f.label :title %>
              </div>

              <div class="form-group form-md-line-input">
                <%= f.collection_select :ad_template_id, AdTemplate.all.order('id asc'), :id , :title, {}, class: 'form-control' %>
                <%= f.label :ad_template_id %>
              </div>

              <div class="form-group form-md-line-input">
                <%= f.select :mode, f.object.class.modes.keys.map {|role| [role.titleize,role]}, {}, class: 'form-control' %>
                <%= f.label :mode %>
              </div>

              <%= render 'edit_script', f: f,signage_ad_unit: @signage_ad_unit  %>

              <div class="form-group">
                <%= f.submit 'Submit', class: 'btn btn-default btn-block' %>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>